$blueColor: blue;
$yellowColor: yellow;

.container {
    margin-top: 5em;
    .parent-box {
        margin: 0px auto;
        width: 1000px;
        height: 400px;
        background-color: red;
        padding: 5em;

        .cbox1 {
            background-color: $yellowColor;
            height: 250px;
            padding-top: 5em;
            .ccbox1 {
                background-color: $blueColor;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin: 0px auto;
            }
        }
        .cbox2 {
            background-color: $blueColor;
            height: 250px;
            padding-top: 5em;
            .ccbox2 {
                background-color: $yellowColor;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin: 0px auto;
            }
        }
    }
}
