$bc: background-color;
$mt: margin-top;
$pt: padding-top;

.container {
    #{$mt}: 5em;
    .parent-box {
        margin: 0px auto;
        width: 1000px;
        height: 400px;
        #{$bc}: red;
        padding: 5em;

        .cbox1 {
            #{$bc}: yellow;
            height: 250px;
            #{$pt}: 5em;
            .ccbox1 {
                #{$bc}: blue;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin: 0px auto;
            }
        }
        .cbox2 {
            #{$bc}: blue;
            height: 250px;
            #{$pt}: 5em;
            .ccbox2 {
                #{$bc}: yellow;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin: 0px auto;
            }
        }
    }
}
