.cbox {
    height: 250px;
    padding-top: 5em;
}

.ccbox {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0px auto;
}

.container {
    margin-top: 5em;
    .parent-box {
        margin: 0px auto;
        width: 1000px;
        height: 400px;
        background-color: red;
        padding: 5em;

        .cbox1 {
            background-color: yellow;
            @extend .cbox;
            .ccbox1 {
                background-color: blue;
                @extend .ccbox;
            }
        }
        .cbox2 {
            background-color: blue;
            @extend .cbox;
            .ccbox2 {
                background-color: yellow;
                @extend .ccbox;
            }
        }
    }
}
